main{
    background-color: #f5f5f5;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 40px 0 60px;
    }

#bilheteria-titulo{
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 60px;
}

p{
    margin: 20px 0;
}

section{
    border-radius: 10px;
    border: 2px solid black;
    padding: 40px;
    width: 40%;
    margin: auto;
}

#selecaoFilmes {
    display: block;
    margin: 10px 0;
    width: 80%;
    padding: 7px 10px;
    color: #333333;
    background-color: #fafafa;
    border-color: rgb(77, 77, 77);
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

#selecaoFilmes:focus,
#selecaoFilmes:hover{
    outline: none;
    border: 1px solid #bbbbbb;
}

#assentos{
    width: 60%;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#btnRedirecionamento{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 90%;
}

