* {
  box-sizing:border-box;
}

main{
  background: #f5f5f5;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 30px;
}

.mySlides {
  display: none;
}

.img-slide{
    height: 350px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dots{
    margin-bottom: 30px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.donation{
  text-align: center;
}

#donation-banner{
  width: 60%;
}

.servicos{
  margin: 0 30px 50px;
}

.title-index{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px 0;
}

.links-home{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.service-box{
  position: relative;
}

.service-box .text{
  color: white;
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

#text-protocols, #text-services{
  top: 30px;
  right: 25px;
}

#text-films{
  bottom: 25px;
  right: 25px;
  color: black;
}

.img-servicos{
  object-fit: cover;
  width: 25em;
  height: 25em;
  border-radius: 30px;
}

.img-servicos:hover{
  opacity: 0.5;
  transition-duration: 0.5s;
}

.redirect-contact{
  background: #52676B;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Ubuntu', sans-serif;
}

#schedule{
  color: white;
  font-size: 2em;
}

#schedule-button{
  margin: 30px;
  color: white;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-style: solid;
  border-width: 2px;
  border-radius: 2em;
  border-color: white;
}

#schedule-button:hover{
  color: #52676B;
  background: white;
  transition-duration: 0.3s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}