/*body{
    background: url(img/fundo.jpg);
    background-color: #CCCCCC;
    font: normal 15pt Arial;
    }*/

/*Navegação*/
header{
    background: #2c2a2a ;
    padding: 20px 0;
    }

.caixa{
    position: relative;
    width: 1200px;
    margin: auto;
    
}

#logo{
    /*width: 15%;*/
    margin: 15px;
}

nav{
    position: absolute;
    top: 15px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 20px;
}

nav a{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

nav a:hover{
    color: #4b4545;
}

/*Estilo correspondente a sinopse.html*/

.main-sinopse{
    width: 80%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.cartaz{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
}

#claquete{
    width: 90px;
    float: left;
}

#em-cartaz{
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    padding: 40px 10px;
}

.filmes-escolha-principal{
    width: 60%;
	margin: 20px auto;
}

.container-filme{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-filmes{
    width: 200px;
    height: 300px;
    border-radius: 8px;
}

.box-filmes:hover{
    opacity: 0.5;
    transition-duration: 0.5s;
    box-shadow: 0 0 1em cyan;
}

.titulo-filmes{
    font-size: 18px;
    padding: 10px 0 20px 0;
    text-align: center;
}

#banner{
    display: block;
    width: 100%;
    margin: 60px 0;
}

#div_titulo p{
    margin: 40px 0;
    clear: left;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
}

.banner-sinopse{
    width: 200px;
    height: 300px;
    border-radius: 8px;
}

.sinopse-box{
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.titulo-sinopse{
    text-transform: uppercase;
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    padding-bottom: 20px;
}

.video{
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}


/*Estilo correspondente a protocolos.html*/
.protocolos{
    background: url(img/film.png);
    background-size: 2200px 1065px;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
}

#covid{
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    width: 8%;
}

.aviso{
    font-size: 20px;
    margin-bottom: 10px;
}

#ei{
    font-size: 40px;
    margin-bottom: 5px;
}

main{
    width: 80%;
    margin: 0 auto;
}

.img-protocolos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icone-protocolos{
    width: 10%;
}

.txt-protocolos{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#vejo-em-breve{
    font-size: 28px;
    padding: 28px 0;
    text-decoration: underline;
}

/*Estilo correspondente a contato.html*/

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer; 
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin: 20px 0 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

.mapa{
    padding: 3em 0;
}

.mapa-txt{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0 0 1em;
    color: blueviolet;
}

footer{
    background: #2c2a2a;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 0 20px 0;
}

#logo_foot{
    width: 10%;
    margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .caixa{
        width: auto;
    }
}