body{
    background: url(img/fundo.jpg);
    font: normal 15pt Arial;
    }

header{
    color: white;
    text-align: center;
    }

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
}

h3{
    text-align: center;
}

#img1{
    width: 50%;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img2{
    width: 50%;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img3{
    width: 50%;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#msg_sinopse{
    margin-left: 30px;
    margin-right: 30px;
    font: normal 10pt Arial;
}

#assentos{
    width: 70%;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#btnRedirecionamento{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 90%;
}

footer {
    color: white;
    text-align: center;
    font: normal 10pt Arial;
}